### Formal Verification
Formally verified code should prove that the code matches the 
specification. Hence, formal verification can not detect bugs 
in the design of the project. However, it will pick-up 
implementation bugs that testing might miss.

